
@font-face {
  font-family: 'Kanit';
  src: url(./asset/fonts/Kanit/Kanit-Regular.ttf) format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Kanit';
  src: url(./asset/fonts/Kanit/Kanit-Light.ttf) format('truetype');
  font-weight: normal;
}
* {
  margin: 0;
  font-family: 'Kanit' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
