@import './style.variable.global.scss';

.main-box-map {
  // width: calc((100vw - #{$sidebar-width} - 800px) - 50px) ;
  width: 100%;
  height: 700px;
  margin-right: 50px;
  background-color: $default;
}

.headerMap {
  padding: 20px;
  font-size: 20px;
  font-weight: 500;
}

.containerMap {
  margin: 10px;
}