$sidebar-width: 300px;
$logo-margin: 5px;
$navbar-margin-left-right: 20px;
$navbar-height: 50px;

$LineDivide: 1px;

$layout-width: calc(100vw - #{$sidebar-width});
$outlet-height: calc(100vh - #{$navbar-height} - (#{$logo-margin} * 2) - #{$LineDivide});

$primary: #0739A2;
$primary-main: #000;
$primary-main2: #0738a2a4;
$primary-main3: #0738a225;


$secondary: #E5E5E5;
$default: #fff;