@import './style.variable.global.scss';

$bg-img: url('./../asset/images/background.jpg');

.loginContainer-image {
  height: 100vh;
  width: 100vw;

  background-image: $bg-img;
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  opacity: 0.4;

  position: fixed;
  top: 0px;
  left: 0px;

  // z-index: 0;
}

.loginContainer {
  height: 100vh;
  width: 100vw;

  // z-index: 10;
  // background-color: $default;

  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.InputUsername {
  padding-top: 20px;
  z-index: 1000;
}
.InputPassword {
  padding-top: 20px;
  z-index: 1000;
}
.loginBox {
  width: 400px;
  // height: 200px;

  margin-bottom: 200px;

  border: 1px solid $primary-main3;
  border-radius: 6px;
  padding: 30px;

  background-color: $primary-main2;
}

.banner-egat-main {
  font-size: 28px;
  text-align: center;
  color: $primary-main;
}
.banner-egat-sub {
  font-size: 16px;
  text-align: center;
  color: $primary-main;
}
.banner-egat-imgs {
  z-index: 10000;
  // opacity: 10;

  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;

}