@import './style.variable.global.scss';

#layout-container-scroll::-webkit-scrollbar {
  width: 6px;
}

/* Track */
#layout-container-scroll::-webkit-scrollbar-track {
  background: #fff; 
}
 
/* Handle */
#layout-container-scroll::-webkit-scrollbar-thumb {
  background: #a8a8a855; 
  border-radius: 2px;
}

/* Handle on hover */
#layout-container-scroll::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8e8; 
}