@import './style.variable.global.scss';

.rowFirstBoxshowvalue {
  margin: 20px 20px 0px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.rowSecondMapshowdevice {
  margin: 0px 20px 0px 20px;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  align-items: center;
  padding-top: 15px;
}

.rowThirdRecord {
  margin: 0px 20px 0px 20px;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}