@import './style.variable.global.scss';

.main-box {
  // width: calc((100vw - #{$sidebar-width} - 40px) - 150px) ;
  width: 100%;
  height: 100px;
  background-color: $default;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
}

.icon-people-box {
  margin: 20px;
}