@import './style.variable.global.scss';

.main-box-table {
  // width: calc((100vw - #{$sidebar-width} - 800px) - 50px) ;
  width: 100%;
  height: 700px;
  background-color: $default;
}
.headertable {
  padding: 20px;
  padding-top: 20px;
  font-size: 20px;
  font-weight: 500;
}
.containertable {
  margin: 10px;
}