@import './style.variable.global.scss';

.item-box {
  list-style-type: none;
  margin-left: -18px;
  cursor: pointer;
}
.item-menu {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: flex-start;

  padding: 20px;
}
.text-menu {
  margin-left: 10px;
}
.menu-active {
  background-color: #f6f8fb;
}
.item-box:hover{
  background-color: $secondary;
}