@import './style.main.scrollbar.scss';
@import './style.main.sitebar.scss';
@import './style.variable.global.scss';
@import './style.main.BoxShowValue.scss';
@import './style.main.controlpanal.scss';
@import './style.main.MapDevice.scss';
@import './style.main.TableSummary.scss';
@import './style.main.Login.scss';

.LayoutContainer {
  display:flex;
}
.LayoutContainerFlexColume {
  display:flex;
  flex-direction: column;
  width: $layout-width;
}
.SidebarContainer {
  width: $sidebar-width;
  // height: calc(100vh);
  display: flex;
  flex-direction: column;
  align-content: center;

  max-width: $sidebar-width;

  background: $default;
  box-shadow: 4px 0px 16px rgba(16, 30, 115, 0.08);

}
.OutleContainer {
  height: $outlet-height;
  width: $layout-width;
  overflow-y: scroll;
}
.NavbarContainer {
  width: $layout-width;
  height: $navbar-height + $logo-margin * 2 - $LineDivide;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
.LogoHeader {
  margin: $logo-margin;
  display: flex;
}
.LogoHeader-title {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-start;
  font-size: 1em;
  color: $primary;
  justify-content: center;
}
.LogoHeader-subtitle {
  font-size: 0.6em;
  color: $primary;
}
.LineDivide {
  border-bottom: $LineDivide solid $secondary;
}
.DateTime {
  margin: 10px 20px;
}
.LogoUser {
  margin: 10px 20px;
}